## Day-4 of   #30daysofPython

## Topic: Input Statements

* input( )
* Reading multiple values from user
* Shortcut to read multiple values in a single line
* eval() function

#### input( ) is a function that takes input from a user.

##### Examples

In [4]:
a = input("Enter a word : ")
print(a)
print(type(a))

Enter a word : Balaji
Balaji
<class 'str'>

In [5]:
a = input('Enter a number : ')
print(a)
print(type(a))

Enter a number : 9
9
<class 'str'>

In [7]:
a = input("Enter a float number : ")
print(a)
print(type(a))

Enter a float number : 23.698
23.698
<class 'str'>

In [9]:
a = input("Enter a bool value : ")
print(a)
print(type(a))

Enter a bool value : True
True
<class 'str'>

#### As seen in above examples input( ) function by default gives 'str' datatype.
#### So, we need to typecast into required datatype.

In [6]:
a = int(input("Enter a number : "))
print(a)
print(type(a))

Enter a number : 99
99
<class 'int'>

In [17]:
a = float(input("Enter a float value : "))
print(a)
print(type(a))

Enter a float value : 29.978
29.978
<class 'float'>

In [10]:
a = bool(input("Enter a bool value : "))
print(a)
print(type(a))

Enter a bool value : True
True
<class 'bool'>

### Q) Program to read employee data from user and print the data.

In [22]:
a = input("Enter the name : ")
b = int(input("Enter the age : "))
c = input("Enter the occupation : ")
d = bool(input("Is married?[True / False] : " ))
e = float(input("Expected salary as a fresher : "))
print()
print('Name : ',a)
print('Age : ',b)
print('Occupation : ',c)
print('Is married? : ',d)
print('Salary : ',e)

Enter the name : Balaji
Enter the age : 21
Enter the occupation : Trainee
Is married?[True / False] : False
Expected salary as a fresher : 50231.206

Name :  Balaji
Age :  21
Occupation :  Trainee
Is married? :  True
Salary :  50231.206

## Shortcut to read multiple inputs in a single line

In [25]:
a = input("Enter two numbers : ")
a

Enter two numbers : 10 20

'10 20'

### From the above example even if we give 2 inputs it returns as single string

#### Examples of giving inputs in a single line

In [26]:
a,b,c = [int(x) for x in input("Enter 3 numbers : ").split(',')]
print("The sum of a,b,c is : ",a+b+c)

Enter 3 numbers : 3,6,9
The sum of a,b,c is :  18

In [27]:
a,b,c = [float(x) for x in input("Enter 3 numbers : ").split(',')]
print("The sum of a,b,c is : ",a+b+c)

Enter 3 numbers : 3.6,2.2,4.2
The sum of a,b,c is :  10.0

In [28]:
a,b,c,d = [int(x) for x in input("Enter 3 numbers : ").split(',')]
print("The product of a,b,c,d is : ",a*b*c*d)

Enter 3 numbers : 3,6,9,10
The product of a,b,c,d is :  1620

## eval( ) function

#### Since the input( ) takes as string by default, we are converting into required types
#### Instead of using int( ), float( ), bool( ) before input( ), we can use eval( )
#### eval( ) understands what type of input we are giving.

### Examples

In [1]:
a = eval(input("Enter a word : "))
print()
print(a)
print(type(a))

Enter a word : 'Balaji'

Balaji
<class 'str'>

In [2]:
a = eval(input("Enter a integer value : "))
print()
print(a)
print(type(a))

Enter a integer value : 9

9
<class 'int'>

In [3]:
a = eval(input("Enter a float value : "))
print()
print(a)
print(type(a))

Enter a float value : 29.96

29.96
<class 'float'>

In [4]:
a = eval(input("Enter a bool value : "))
print()
print(a)
print(type(a))

Enter a bool value : True

True
<class 'bool'>