## Day-2 of   #30daysofPython

## Topic - Operators

### Different types of operators are:

* Arithmetic 
* Relational (or) Comparision
* Equality 
* Logical 
* Bitwise 
* Shift

## Arithmetic Operators

* '+' (Addition)
* '-' (Subtraction)
* '*' (Multiplication)
* '/' (Division)
* '**' (Exponential)
* '//' (Floor Division)

### Examples

In [1]:
a = 9
b = 3

In [2]:
print(a+b)

12

In [3]:
print(a-b)

6

In [4]:
print(a*b)

27

In [5]:
print(a/b)   # '/' returns floating values

3.0

In [6]:
print(a//b)     #'//' removes floating values

3

In [7]:
print(a**b)     # Returns 9^3

729

In [8]:
print('Balaji '*3)

Balaji Balaji Balaji

## Relational (or) Comparision Operators

* '>' (Greater than)
* '>=' (Greater than or equal to)
* '<' (Less than)
* '<=' (Less than or equal to)
#### Note: Relational operators always return bool values as output

## Examples

In [9]:
a = 20
b = 10
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

True
True
False
False

### We can also check for string values based on ASCII (Unicode) values
#### To know unicode values, we use ord(' ') function.
#### If we know unicode value and to fing corresponding character, we use chr( ) function.

In [10]:
lowercase_characters = ['a','b','c','d','e','f','g','h','i','j','k','l',
              'm','n','o','p','q','r','s','t','u','v','w','x','y','z']
empty_list = []
for i in lowercase_characters:
    empty_list += [ord(i)]
print(empty_list)

[97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122]

In [11]:
uppercase_characters = ['A','B','C','D','E','F','G','H','I','J','K','L'
             ,'M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
empty_list = []
for i in uppercase_characters:
    empty_list += [ord(i)]
print(empty_list)

[65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

In [12]:
chr(97)

'a'

In [13]:
chr(65)

'A'

In [14]:
S1 = 'Balaji'
S2 = 'Balaji'
print(S1>S2)
print(S1>=S2)
print(S1<S2)
print(S1<=S2)

False
True
False
True

In [15]:
a = 'Balaji'
b = 'balaji'
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

False
False
True
True

### Relational operators for bool  type

In [16]:
print(True>True)
print(True>False)
print(True>=True)
print(True>=False)
print(True<True)
print(True<=True)
print(True<False)
print(True<=False)

False
True
True
True
False
True
False
False

## Equality Operators

### They are used to check values are equal or not. It returns bool values

* '==' (Equal to)
* '!=' (Not Equal to)

## Examples

In [17]:
a = 10
b = 20
print(a==b)
print(a!=b)

False
True

In [18]:
a = 'Balaji'
b = 'Balaji'
print(a==b)
print(a!=b)

True
False

In [19]:
a = 'balaji'
b = 'Balaji'
print(a==b)
print(a!=b)

False
True

In [20]:
print(True  == True)
print(True  != True)
print(False == True)
print(False != True)
print(False == False)
print(False != False)

True
False
False
True
True
False

## Logical Operators

* and
* or
* not

### For Boolean values

### 'and' operator

#### For an 'and' operator two values must be True to return True. If any one is False it returns False.

In [21]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

### 'or' operator

In [22]:
print(True or False)
print(True or True)
print(False or True)
print(False or False)

True
True
True
False

### 'not' operator

In [23]:
print(not True)
print(not False)

False
True

### For non-boolean values

In [24]:
a = 10
b = 20
print(a and b)  # b prints because a evaluates to True
print(a or b)
print(not a)
print(not b)

20
10
False
False

In [25]:
a = 0
b = 10
print(a and b)
print(a or b)

0
10

In [26]:
a = 'balaji'
b = 'Data scientist'
print(a and b)
print(a or b)

Data scientist
balaji

In [27]:
a = ''
b = 'Balaji'
print(a and b)   # Prints as empty
print(a or b)

Balaji

In [28]:
a = ''
b = ''
print(a and b)
print(a or b)    # Prints nothing because both values are empty

In [29]:
a = ''
b = ''
print(not a)
print(not b)

True
True

## Bitwise Operators

* '&' (and)
* '|' (or)
* '^' (X-or)
* '~' (Complementary Operator)

In [31]:
4 & 5 '''It takes bit wise i.e, 4--->1 0 0 ; 5-->1 0 1, these gets adds and returns 1 0 0 in (binary) so it is 4.'''

SyntaxError: invalid syntax (<ipython-input-31-0b9ba06c3eb6>, line 1)

In [32]:
print(5 & 4)
print(0 & 4)
print(0 & 0)

4
0
0

In [33]:
print(6 | 7)
print(7 | 6)
print(0 | 3)
print(8 | 0)

7
7
3
8

In [34]:
print(6 ^ 3)
print(0 ^ 3)

5
3

In [35]:
print(~3)
print(~6)
print(~2)
print(~-6)

-4
-7
-3
5

## Shift Operators

* '<<' (Left Shift)
* '>>' (Right Shift)

### Left Shift

In [36]:
10 << 2   # The numbers converts to binary and then shifting is done by 2

40

In [37]:
print(20<<3)
print(30<<4)
print(40<<5)

160
480
1280

### Right shift

In [38]:
print(10>>2)
print(20>>3)
print(60>>2)
print(400>>6)

2
2
15
6