## Day-7 of   #30daysofPython

## Topic: Flow Control - 2

### Iterative Statements

* for loop
* while loop

## for loop

##### To perform activity for every element

### Syntax:

In [1]:
'''   for x in sequence:
               Action             '''

'   for x in sequence:\n               Action             '

### Examples

In [2]:
a = 'Balaji'
for i in a:          # 'i' means every element in a. 
    print(i)         # we can take any character or word instead of 'i'

B
a
l
a
j
i

In [3]:
a = 'Balaji'
for word in a:         
    print(word,end = '')  #end attribute is used to print in a single line

Balaji

### Q. To print a word along with its index

In [4]:
a = 'Balaji'
x = 0
for i in a:
    print("For '{}' index character is '{}' ".format(x,a[x]))
    x += 1

For '0' index character is 'B'
For '1' index character is 'a'
For '2' index character is 'l'
For '3' index character is 'a'
For '4' index character is 'j'
For '5' index character is 'i'

### Q. Program to print numbers in range of 1 and 10 using for loop.

In [5]:
for i in range(0,10):
    print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9

### Q. To print even numbers in between 0 and 20

In [6]:
for i in range(0,21):
    if i%2 == 0:
        print(i,end = ' ')

0 2 4 6 8 10 12 14 16 18 20

In [7]:
for i in range(0,21,2):
    print(i,end = ' ')

0 2 4 6 8 10 12 14 16 18 20

### Q. To print odd numbers in between 0 and 20

In [8]:
for i in range(0,21):
    if i%2 == 1:
        print(i,end = ' ')

1 3 5 7 9 11 13 15 17 19

## Q. To print sum of numbers in a give list

In [9]:
a = eval(input("Enter a list of numbers : "))
sum = 0
for i in a:
    sum += i
print("The sum of numbers is : ",sum)

Enter a list of numbers : [5,6,7,8]
The sum of numbers is :  26

## while loop

##### It execute group of statements based on the conditions.

### Syntax:

In [10]:
'''     while (condition):
                Action      '''

'     while (condition):\n                Action      '

## Examples

## Q.Printing 'Hello' 3 times by while loop

In [11]:
i = 1
while i<=3:
    print("Hello")
    i += 1

Hello
Hello
Hello

## Q. Printing numbers from 1 to 10

In [12]:
i = 1
while i<= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

## Q.Printing  numbers divisible by '3' betwween 1 to 20

In [14]:
n = int(input("Enter a number : "))
sum = 0
i = 1
while i<=n:
    sum += i
    i += 1
print("The sum is : ",sum)

Enter a number : 6
The sum is :  21

## Nested Loops

## Example

In [15]:
for i in range(3):
    for j in range(2):
        print("Hello Balaji")

Hello Balaji
Hello Balaji
Hello Balaji
Hello Balaji
Hello Balaji
Hello Balaji