## Day-10 of   #30daysofPython

## Topic - Tuples

* Functions
    * len()
    * type()
    * max()
    * min()
* Methods
    * count()
    * index()
* Examples

##### Tuples are immutable.
##### We cannot add or remove elements in a tuple

## len()

In [1]:
t = (1,2,3,4,5)
print(len(t))

5

In [2]:
t = ('a','b','c','d','e','f','g')
print(len(t))

7

In [3]:
t = (12.7,3,'a',True)
print(len(t))

4

## type()

In [4]:
t = (1,2,3,4,5)
print(type(t))

<class 'tuple'>

In [5]:
t = ('a','b','c','d','e','f','g')
print(type(t))

<class 'tuple'>

In [6]:
t = (12.7,3,'a',True)
print(type(t))

<class 'tuple'>

## min()

In [7]:
t = (1,2,3,4,5)
print(min(t))

1

In [8]:
t = ('a','b','c','d','e','f','g')
print(min(t))

a

In [9]:
t = (3.5,7,2.1,6)
print(min(t))

2.1

## max()

In [10]:
t = (1,2,3,4,5)
print(max(t))

5

In [11]:
t = ('a','b','c','d','e','f','g')
print(max(t))

g

In [12]:
t = (3.5,7,2.1,6)
print(max(t))

7

### Since tuple is immutable, to add elements we convert to list

In [13]:
t = (1,2,3,4,5,6,7,8,9)
print("tuple is: ",t)
print(type(t))
print()
l = list(t)
print("list is: ",l)
print(type(l))

tuple is:  (1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

list is:  [1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

## Methods

## count()

In [14]:
t = (1,2,3,4,5,6,7,8,9)
t.count(1)

1

In [15]:
t = (1,1,1,2,2,2,2,2,3,3,3)
t.count(2)

5

In [16]:
t = ('a','b','b','c','c','c','d','d')
t.count('c')

3

## index()

In [17]:
t = (1,2,3,4,5,6,7,8,9)
t.index(1)

0

In [18]:
t = ('a','b','b','c','c','c','d','d')
t.index('c')       #Gives 1st index at 'c' occurs

3

## Examples

Create a tuples for numbers 31,24,35,85 as nums

In [19]:
tuple1 = (31,24,35,85)
print('Data type',type(tuple1))
print(tuple1)

Data type <class 'tuple'>
(31, 24, 35, 85)

** Remove number "35" in a tuple**

In [20]:
tuple1 = (31,24,35,85)
list1 = list(tuple1)
list1.remove(35)
tuple2 =tuple(list1)
print(tuple2)

(31, 24, 85)

Extent tuple (85,19)

In [21]:
list2 = list(tuple2)
list2.extend([85,19])
tuple3 = tuple(list2)
tuple3

(31, 24, 85, 85, 19)

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [22]:
t = (1,2,3,4,5,6,7,8,9,10)
t1 = t[0:5]
print(t1)
t2 = t[5:]
print(t2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [23]:
# EVEN NUMBERS
t = (1,2,3,4,5,6,7,8,9,10)
l = []
for i in t:
    if i%2 == 0:
        l += [i]
t1 = tuple(l)
print(t1)

(2, 4, 6, 8, 10)

In [24]:
# ODD NUMBERS
t = (1,2,3,4,5,6,7,8,9,10)
l = []
for i in t:
    if i%2 == 1:
        l += [i]
t1 = tuple(l)
print(t1)

(1, 3, 5, 7, 9)