## Day-5 of   #30daysofPython

## Topic: Output Statements

* print( ) statement
* end( ) attribute
* sep( ) attribute
* print statement with '{ }' Replacement operator
* print statement with formatted string

## print( ) statement

* print( ) statement is used to print the output

In [1]:
print('a') # Since 'a' is string it prints 'a' but print(a) gives error if a is not initialised

a

### Examples

In [2]:
a = 10
print(a)

10

In [5]:
a,b,c = 10,20,30
print("The values of a,b,c are : ",a,b,c)

The values of a,b,c are :  10 20 30

## end( ) attribute

#### This attribute is used if we need the output in a single line.

#### Example

In [6]:
a =[10,20,30,40,50,60]
for i in a:
    print(i)

10
20
30
40
50
60

#### As seen in above output it is printing in different lines. To print in single line

In [8]:
a =[10,20,30,40,50,60]
for i in a:
    print(i,end = ' ') # end=' '(We are printing output in single line)

10 20 30 40 50 60

In [17]:
print('Hello')
print('World')

Hello
World

In [18]:
print('Hello',end=' ')
print('World')

Hello World

## sep( ) attribute

#### This attribute used to seperate two different outputs

#### Examples

In [19]:
print('10','08','2021', sep='-')

10-08-2021

In [23]:
print('Hello','Balaji','How','are','you',sep = ' @ ')

Hello @ Balaji @ How @ are @ you

### Using end( ) and sep( ) in a single line

In [27]:
print(10,20,30,sep=':',end='!')

10:20:30!

In [26]:
print('a','b','c',sep=':',end='!')

a:b:c!

## print( ) statement with replacemenet operator {}

### Examples

In [29]:
a = 'Balaji'
b = 'Hello'
print("{} {}!,how are you?".format(a,b))

Balaji Hello!,how are you?

In [30]:
name = input("Enter a name : ")
print("Hello {}!,how are you?".format(name))

Enter a name : balaji
Hello balaji!,how are you?

In [31]:
Name = 'Balaji'
Age  =  21
Goal = 'Data Scientist'
print("Hello {}, your age is {}, your goal is to become a {}".format(Name,Age,Goal))

Hello Balaji, your age is 21, your goal is to become a Data Scientist

### Replacement Operator based on Index

In [32]:
Age  =  21
Goal = 'Data Scientist'
Name = 'Balaji'
print("Hello {2}, your age is {1}, your goal is to become a {0}".format(Goal,Age,Name))

Hello Balaji, your age is 21, your goal is to become a Data Scientist

### Replacement Operator based on Index

In [33]:
Age  =  21
Goal = 'Data Scientist'
Name = 'Balaji'
print("Hello {a}, your age is {b}, your goal is to become a {c}".format(c=Goal,b=Age,a=Name))

Hello Balaji, your age is 21, your goal is to become a Data Scientist

## print( ) with formatted string

* '%i' (Signed Decimal Value)
* '%d' (Signed Decimal Value)
* '%f' (Signed float Value)
* '%s' (String, list, set type)

### Examples

In [34]:
a = 10
print("Value of a : %i"%a)

Value of a : 10

In [35]:
a = 10
print("Value of a : %d"%a)

Value of a : 10

In [37]:
a = 20.998
print('integer value is : %d'%a)

integer value is : 20

In [36]:
a = 20.998
print('Float value is : %f'%a)

Float value is : 20.998000

#### Here, if we need upto 2 decimals in float value we use '%.2f'

In [2]:
a = 20.6874
print('Float value is : %.2f'%a)

Float value is : 20.69

In [38]:
a = 'Balaji'
print("String is : %s"%a)

String is : Balaji

In [41]:
a = [1,2,3]
print("List is : %s"%a)

List is : [1, 2, 3]

In [42]:
a = {1:'a',2:'b',3:'c'}
print("Dictionary is : %s"%a)

Dictionary is : {1: 'a', 2: 'b', 3: 'c'}

In [43]:
a = {1,2,3}
print("Set is : %s"%a)

Set is : {1, 2, 3}