## Day-3 of   #30daysofPython

## Topic - Operators

#### Continuation of Operators

* Assignment
* Terenary
* Special Operators
     * Identity operator
     * Membership Operator
* Operator Precedence
* Mathematical functions by using math module

## Assignment Operator

### Assigning values to a variables

### 1.  +=
### 2.  -=
### 3.  /=
### 4. *=
### 5.  //=
### 6.  **=
### 7.  &=
### 8.  |=
### 9.  ^=
### 10. >>=
### 11. <<=

### Examples

In [1]:
a = 10
a += 30 # Prints a = a+30 (a = 10+30 = 40)
print(a)

40

In [2]:
a = 40
a -= 20 # a = a-20 (40-20 = 20)
print(a)

20

In [3]:
a = 6
a /= 3
print(a)

2.0

In [4]:
a = 6
a //= 3
print(a)

2

In [5]:
a = 6
a *= 10
print(a)

60

In [6]:
a = 9
a **= 2
print(a)

81

In [7]:
a = 3
a &= 2
print(a)

2

In [8]:
a = 4
a |= 3
print(a)

7

In [9]:
a = 0
a ^= 2
print(a)

2

In [10]:
a = 10
a >>= 2
print(a)

2

In [11]:
10>>2

2

In [12]:
x = 10
print(+x)
print(-x)
print(++++x)
print(----x)

10
-10
10
10

## Terenary Operator

### Writing multiple statements in a single line

### Examples

In [13]:
a = 10
b = 20
c = a if a>b else b       # Here we are writing if, else in a single line
print(c)

20

In [14]:
a = int(input("Enter 1st number : "))
b = int(input("Enter 2nd number : "))
c = int(input("Enter 3rd number : "))
d = a if (a>b and a>c) else b if b>a and b>c else c
print("The highest of three numbers is : ",d)

Enter 1st number : 65
Enter 2nd number : 44
Enter 3rd number : 58
The highest of three numbers is :  65

In [15]:
a = int(input("Enter 1st number : "))
b = int(input("Enter 2nd number : "))
result = 'Equal' if a==b else 'smaller' if a<b else 'Bigger'
print(result)

Enter 1st number : 44
Enter 2nd number : 44
Equal

## Special Operators

### Identity Operator

* is
* is not

### Membership Operator

* in
* not in

### Examples of Identity operator

In [16]:
a = 10
b = 20
print(a is b)
print(a is not b)

False
True

In [17]:
a = 0
b = 0
print(a is b)
print(a is not b)

True
False

In [18]:
a = 'Balaji'
b = 'balaji'
c = 'Balaji'
d = 'BALAJI'
e = 'bALAJI'
print(a is b)
print(a is c)
print(a is d)
print(a is e)

False
True
False
False

In [19]:
l1 = [10,20,30,40]
l2 = [10,20,30,40]
print(l1 is l2)   # 'is' operator meant for reference comparision not content comparision
print(l1 == l2)   # '==' compares content, 'is' compares reference

False
True

### Examples of Membership operator

In [20]:
a = 'Hi Balaji'
print('B' in a)
print('Balaji' in a)
print(' ' in a)
print('hi' in a)
print('Hi' not in a)

True
True
True
False
False

In [21]:
list1 = [10,20,30,40,50]
print(50 in list1)
print(30 not in list1)
print(60 in list1)

True
False
False

## Operator Precedence

### Operator precedence says which need to be operate first

##### ( )-------->Paranthesis
##### **--------->Exponential operator
##### ~ --------->Bitwise Complementary
##### '*','/','%','//'--->Multiplication, Division, Modulo, Floor Division
#####  '+','-' -----------> Addition, Subtraction
##### <<, >> ----------> Left shift and Right Shift
#####  '&'--------------->Bitwise and
#####  '^' --------------->Bitwise X-or
#####  '|' ---------------->Bitwise or
#####  >,>=,<,<=, ==, !=------> Relational and Equality operators
#####  =,+=,-=,*= ---------------> Assignment operator
#####  is, not is ----------------> Identity operators
#####  in, not in ----------------> Membership operator
#####  not , and, or------------------------> logical operators

### Examples

In [22]:
a = 30
b = 20
c = 40
print((a+b)*c/b) # First (a+b) operators, next c/b operators finally *

100.0

In [23]:
a = 30
b = 20
c = 40
print((a+b)*(c/b))

100.0

In [24]:
a = 30
b = 20
c = 40
print(a+(b*c)/b)

70.0

## Mathematical functions from 'math' module

In [25]:
import math

print(math.sqrt(16))   #returns square root of 16
print(math.pi)         #returns value of pi
print(math.floor(3.6))
print(math.ceil(3.2))

4.0
3.141592653589793
3
4

In [26]:
import math as m      # math is shortly defined as 'm'
print(m.sqrt(16))   
print(m.pi)         
print(m.floor(3.6))
print(m.ceil(3.2))

4.0
3.141592653589793
3
4

In [27]:
from math import * #imports all elements in math module
print(sqrt(16))
print(pi)         
print(floor(3.6))
print(ceil(3.2))

4.0
3.141592653589793
3
4

### For other operators, visit Day-2 of #30daysofpython