###  Dictionary

Create Dictionary for following information as "person1":
   - Name = Srikanth
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [1]:
# CODE HERE

In [2]:
person1 = {'Name':'Srikanth',
           'Gender':'Male',
           'occupation':'Data Scientist',
           'Location':'Nizampet, Hyderabad'}

In [3]:
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'occupation': 'Data Scientist',
 'Location': 'Nizampet, Hyderabad'}

> print keys in person1 as a list

In [4]:
# CODE HERE

In [5]:
print(list(person1.keys()))

['Name', 'Gender', 'occupation', 'Location']

> Srikanth age is 27. Assign his age in person1 as key "Age"

In [6]:
# CODE HERE

In [7]:
new_dict = {'Age':27}
person1.update(new_dict)

In [8]:
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'occupation': 'Data Scientist',
 'Location': 'Nizampet, Hyderabad',
 'Age': 27}

> Remove Location in person1

In [9]:
# CODE HERE

In [10]:
person1.pop('Location')
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'occupation': 'Data Scientist',
 'Age': 27}

> Create dictionary of person2 with
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [11]:
# CODE HERE

In [12]:
person2 = {'Name': 'Raghu Ram', 
           'Gender': 'Male',
           'Age':25,
           'Occupation':'Data Scientist'}

In [13]:
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': 25,
 'Occupation': 'Data Scientist'}

> Append values on Person1 and Person2

In [14]:
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Name': 'Srikanth', 'Gender': 'Male', 'occupation': 'Data Scientist', 'Age': 27}
==================== person2 ====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

In [15]:
# CODE HERE to append
person1.update(person2)
person1

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'occupation': 'Data Scientist',
 'Age': 25,
 'Occupation': 'Data Scientist'}

# create a dictionary
#### remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [16]:
# CODE HERE

In [17]:
dictionary = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
dictionary

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [18]:
## Using pop Method
dictionary.pop(2)
dictionary

{1: 1, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [19]:
## Using del method
del dictionary[4]
del dictionary[6]
dictionary

{1: 1, 3: 9, 5: 25, 7: 49}

In [20]:
dictionary[9]=81
dictionary2 = {0:0}
dictionary2.update(dictionary)
dictionary2

{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
### print the values from the above dictionary in descending order

In [21]:
# CODE HERE

In [22]:
L = list(dictionary2.values())
sorted(L,reverse=True)

[81, 49, 25, 9, 1, 0]

database = {'ram':1234,'raghu':5678,'kanav':1357}
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [23]:
# CODE HERE

In [24]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
username = input("Enter the username : ")
password = eval(input("Enter the password : "))
if username == 'ram' and password == 1234:
    print('Hello {}!'.format(username))
    
elif username == 'raghu' and password == 5678:
    print("Hello {}!".format(username))

elif username == 'kanav' and password == 1357:
    print('Hello {}!'.format(username))
    
else:
    print('You want me to add into the database?')
    new_name = input('Enter the new name you want to add : ')
    new_password = eval(input("Create your password : "))
    new_Database = {new_name : new_password}

    database.update(new_Database)
    print('Updated Database : ',database)

Enter the username : ram
Enter the password : 1234
Hello ram!

### merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [25]:
# CODE HERE

In [26]:
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
dict1.update(dict2)
dict1.update(dict3)
print(dict1)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)