###  LIST

Create a list of numbers
> nums = [1,2,3,4]

In [1]:
nums = [1,2,3,4]
print(nums)

[1, 2, 3, 4]

** 1. Remove number "3" in a list**

In [2]:
# Method 1 
nums = [1,2,3,4]
nums.remove(3)
print(nums)

[1, 2, 4]

In [3]:
# Method 2
nums = [1,2,3,4]
nums.pop(2)
print(nums)

[1, 2, 4]

In [4]:
# Method 3
nums = [1,2,3,4]
del nums[2]
print(nums)

[1, 2, 4]

** Remove last element in the list **
> hint: remove 4 (L.pop)

In [5]:
nums = [1,2,3,4]
nums.pop()

4

**Check nums.pop(0) ** 
> write you comment after executing this command

In [6]:
nums = [1,2,3,4]
nums.pop(0)         # removes zeroth position

1

 **Extent** list (3,4)
 > **hint: nums.extend([3,4])

In [7]:
# Method1
nums = [2]
nums.extend([3,4])
print(nums)

[2, 3, 4]

In [8]:
#Method 2
nums = [2]
nums.append(3)
nums.append(4)
print(nums)

[2, 3, 4]

**Insert number "1" in 0th position**

In [9]:
nums  = [2,3,4]
nums.insert(0,1)
print(nums)

[1, 2, 3, 4]

**Insert "two-and-half" in 2nd position**

In [10]:
nums = [1,2,3,4]
nums.insert(2,'two-and-half')
print(nums)

[1, 2, 'two-and-half', 3, 4]

**2. Create a list with name plist with phrase = "Don't panic!"**

In [11]:
plist = "Don't panic!"

*convert into list*

In [12]:
list(plist)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [13]:
list(plist)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

Remove ** '** and **!** in the list

In [14]:
plist = "Don't panic!"
a = list(plist)
del a[3]
del a[-1]
print(a)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

In [15]:
plist = "Don't panic!"
a = list(plist)
a.remove("'")
a.remove('!')
print(a)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**Remove "p" , "a", "n","D" and extend the list at the last**

In [16]:
plist = "Don't panic!"
a = list(plist)
del a[3]
del a[-1]
del a[0]
del a[4:7]
a.extend(['p','a','n','D'])
print(a)

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**Explain how ?**

In [ ]:
'''First take a string plist, convert the string to a list
   By using "del" remove the required elements based on index.
   Since, 'p','a','n','d' are in a sequence we can remove by slicing,
   so I used "del a[4:7]" in the code. After removing the elements use
   extend() method to add required elements in the last of the list'''

**Joining List**

**Extract last 4 element in plist and append "a" and name as plist1**

- Extract list

In [18]:
b = a[6:10]
print(b)

['p', 'a', 'n', 'D']

- append list

In [19]:
b.append('a')
print(b)

['p', 'a', 'n', 'D', 'a']

In [20]:
plist1 = b
print(plist1)

['p', 'a', 'n', 'D', 'a']

- Join list

In [21]:
a = ''
b=a.join(plist1)
print(b)

panDa

###  Tuples

Create a tuples for numbers 31,24,35,85 as nums

In [22]:
# CODE HERE
tuple1 = (31,24,35,85)

In [23]:
print('Data type',type(tuple1))
print(tuple1)

Data type <class 'tuple'>
(31, 24, 35, 85)

** Remove number "35" in a tuple**

*Hint:* Convert into list

In [24]:
# CODE HERE
list1 = list(tuple1)

In [25]:
tuple1 = (31,24,35,85)
list1 = list(tuple1)
list1.remove(35)
tuple2 =tuple(list1)
print(tuple2)

(31, 24, 85)

**Extent** tuple (85,19)

In [26]:
# CODE HERE
list2 = list(tuple2)
list2.extend([85,19])

In [27]:
tuple3 = tuple(list2)
tuple3

(31, 24, 85, 85, 19)

### If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the second highest value from that

In [28]:
# CODE HERE
s = '5 2 3 6 6 5'
print(s)
s1 = set(s)
s1.remove(' ')
s1.remove(max(s1))
print("The second highest number is : ",max(s1))

5 2 3 6 6 5
The second highest number is :  5

### By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [29]:
# CODE HERE
l = [12,24,35,70,88,120,155]
index = 0,4,5
l1 = [i for j, i in enumerate(l) if j not in index]
l1

[24, 35, 70, 155]

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [30]:
t = (1,2,3,4,5,6,7,8,9,10)
t1 = t[0:5]
print(t1)
t2 = t[5:]
print(t2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [31]:
# EVEN NUMBERS
t = (1,2,3,4,5,6,7,8,9,10)
l = []
for i in t:
    if i%2 == 0:
        l += [i]
t1 = tuple(l)
print(t1)

(2, 4, 6, 8, 10)

In [32]:
# ODD NUMBERS
t = (1,2,3,4,5,6,7,8,9,10)
l = []
for i in t:
    if i%2 == 1:
        l += [i]
t1 = tuple(l)
print(t1)

(1, 3, 5, 7, 9)

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)